/*
* app.css
*
*/

body { background-image: url("../../images/ui/background_pattern.jpg"); overflow-y: scroll; }
h2 { background-image: url("../../images/ui/logo.png"); background-position: center bottom; background-repeat: no-repeat; height: 80px; text-indent: -999em; }

#photostrip,
#photostrip .slide img {
	-webkit-transition: top 350ms linear;
	   -moz-transition: top 350ms linear;
	        transition: top 350ms linear;
}

#photostrip { background-image: url("../../images/ui/strip_bg.jpg"); background-position: center center; box-shadow: 0 0 50px rgba(0, 0, 0, 0.5); left: 50%; margin: 0 0 20px -130px; padding: 10px; position: absolute; top: -1200px; }
#photostrip.active { top: 120px; }
#photostrip .slide { background-image: url("../../images/ui/photo_slide_bg.jpg"); background-position: center top; background-size: 190% auto; height: 240px; overflow: hidden; position: relative; width: 240px; }
#photostrip .slide_overlay,
#photostrip .slide img { height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: 0; }
#photostrip .slide_overlay { background-image: url("/images/ui/photo_slide.png"); background-repeat: no-repeat; z-index: 2; }
#photostrip .slide img { left: -40px; top: -100%; width: auto; }
#photostrip .slide img.active { top: 0; }

#navigation > div { background: none repeat scroll 0 0 rgba(255, 255, 255, 0.7); border-radius: 0 20px 20px 0; color: rgba(0, 0, 0, 0.75); font-size: 40px; font-weight: bold; height: 80px; line-height: 80px; position: fixed; text-align: center; width: 80px; }
#navigation #button_1 { top: 100px; }
#navigation #button_2 { top: 300px; }
#navigation #button_3 { top: 500px; }
#navigation #button_4 { top: 700px; }
#navigation #button_5 { border-radius: 20px 0 0 20px; right: 0; top: 100px; }
